.main-navbar{
    font-size: 40px;
   font-weight: 600;
}
.caurosol{
    bottom: initial;
    top: 50%;
    transform: translatey(-50%);
}
.navbar{
    font-weight: 500;
}
.registar{
    background-color: #289BDE;
    height: 300px;
}
.accor{
    font-size: 20px;
    font-weight: 600;
}
.footer{
    height: 332px;
}
.icon{
    font-size: 30px;
    margin: 10px;
    color: gray;
}
.content{
    background-color: #F4FAFD;
    font-weight: 500;
    font-size: 20px;
}