.main-navbar{
    font-size: 40px;
   font-weight: 600;
}
.navbar{
    font-weight: 500;
}
.course{
    background-color: #289BDE;
}
.registar{
    background-color: #289BDE;
    height: 300px;
}
.button{
    color: #289BDE;
    font-weight: 500;
}
.accor{
    font-size: 20px;
    font-weight: 600;
}
.footer{
    height: 332px;
}
.icon{
    font-size: 30px;
    margin: 10px;
}